.vs
.vs/*
.vs/ClassicCraft/v15/.suo
.vs/ClassicCraft/v15/Server/sqlite3/storage.ide
.vs/ClassicCraft/v15/Server/sqlite3/storage.ide-shm
.vs/ClassicCraft/v15/Server/sqlite3/storage.ide-wal
ClassicCraft/bin
ClassicCraft/obj
ClassicCraft/logs.txt
